blimp_ros/*.txt
blimp_ros/build
blimp_ros/install
blimp_ros/log
blimp_sim/*.txt
blimp_sim/build
blimp_sim/install
blimp_sim/log
blimp_msgs/build
blimp_msgs/install
blimp_msgs/log
blimp_clean/build
blimp_clean/install
blimp_clean/log
*.png
blimp/
__pycache__/
*.pyc

# ROS bags
*.mcap
rosbag2_*/
